<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BottomSheet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Public Transport.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB33BE9F27C82AF700B76E68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB33BEB527C82AF700B76E68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB33BEBF27C82AF700B76E68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB33BF1C27CAE5A300B76E68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
